<div class="location-search">
  <mat-form-field appearance="outline" class="search-field">
    <mat-icon matPrefix>place</mat-icon>
    <input
      #searchInput
      matInput
      type="text"
      placeholder="Search location"
      (keyup.enter)="onManualEnter()"
      aria-label="Search location"
    />
  </mat-form-field>

  <mat-form-field appearance="outline" class="radius-field">
    <mat-select
      [value]="radius"
      (selectionChange)="onRadiusChange($event.value)"
    >
      <mat-option [value]="50">50 km</mat-option>
      <mat-option [value]="100">100 km</mat-option>
      <mat-option [value]="250">250 km</mat-option>
      <mat-option [value]="500">500 km</mat-option>
      <mat-option [value]="1000">1000 km</mat-option>
    </mat-select>
  </mat-form-field>
</div>
