<div class="location-search">
  <mat-form-field appearance="outline" class="search-field">
    <mat-icon matPrefix>place</mat-icon>
    <input
      #searchInput
      matInput
      type="text"
      placeholder="Search location"
      [matAutocomplete]="auto"
      (input)="onInput($any($event.target).value)"
      aria-label="Search location"
    />
    <button
      *ngIf="searchValue"
      mat-icon-button
      matSuffix
      (click)="clearSearch()"
      aria-label="Clear search"
    >
      <mat-icon>close</mat-icon>
    </button>
    <mat-autocomplete
      #auto="matAutocomplete"
      [displayWith]="displayFn"
      (optionSelected)="optionSelected($event.option.value)"
    >
      <mat-option *ngFor="let p of predictions" [value]="p">
        {{ p.display_name }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>
