.user-select {
  margin-left: 16px;
  margin-right: 16px;
  width: 170px;

  /* Make the form field blend nicely inside a colored toolbar */
  ::ng-deep .mat-mdc-text-field-wrapper {
    background: transparent;
    padding-inline-start: 8px;
  }

  ::ng-deep .mdc-notched-outline__leading,
  ::ng-deep .mdc-notched-outline__notch,
  ::ng-deep .mdc-notched-outline__trailing {
    border-color: rgba(255, 255, 255, 0.55);
  }

  ::ng-deep .mat-mdc-form-field-focus-overlay {
    background-color: transparent;
  }

  ::ng-deep .mat-mdc-form-field-subscript-wrapper {
    display: none;
  }

  ::ng-deep .mat-mdc-select-value,
  ::ng-deep .mat-mdc-select-arrow,
  ::ng-deep .mat-mdc-form-field-icon-prefix {
    color: #fff;
  }

  ::ng-deep .mat-mdc-form-field-infix {
    min-height: 40px;
    padding-top: 6px;
    padding-bottom: 6px;
  }
}
